<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ngDiagrams">
<head>
    <title></title>
    <script src="application/lib/angular.min.js"></script>
    <link href="all.css" rel="stylesheet" />
    <script type="text/javascript">
        var app = angular.module('ngDiagrams', []);

        app.run(function ($rootScope) {
            $rootScope.supportedCommand = ["-->","<--" , "->", "<-"];
        });

    </script>
    <script src="application/models/command.js"></script>
    <script src="application/services/parserService.js"></script>
    <script src="application/services/renderService.js"></script>
    <script src="application/controllers/sequenceController.js"></script>
    <script src="application/directives/toolbox.js"></script>
</head>
<body>
    <div class="container" ng-controller="sequenceController">
        <div class="column col-1-3">
            <div class="column">
                <div class="column col-1-3" style="background-color:pink">
                    <ngd-toolbox></ngd-toolbox>
                </div>
                <div class="column col-2-3">
                    <div class="row">
                        <textarea ng-change="afterChange()" ng-model="rawText"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-2-3">
            <!--<canvas width="100" height="100" id="mycanvas" style="border:1px solid black"></canvas>-->
            <textarea class="foo" ng-model="textCanvas"></textarea>
        </div>


    </div>
</body>
</html>
